name: Deploy

on:
  push:
    branches: [master]
    tags: [v*]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Deploy
        uses: dokku/github-action@db5e3b84461e5e73c56d8b0f6a67aab0df25256c
        with:
          git_remote_url: ssh://dokku@sanipasse.fr/sanipasse
          ssh_private_key: ${{ secrets.DEPLOY_KEY }}
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: lovasoa
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: lovasoa/sanipasse:latest,lovasoa/sanipasse:${{ env.RELEASE_VERSION }}
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Build and Push to Docker Hub (all architectures)
        if: startsWith(github.ref, 'refs/tags/v')
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: lovasoa/sanipasse:${{ env.RELEASE_VERSION }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          cache-from: type=gha
          cache-to: type=gha,mode=max
