name: npm test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with: { node-version: '16' }
      - run: npm ci
      - run: npm test
      - run: npm run build
      - name: Check that the code was formatted with "npm run format"
        run: npx prettier --check --plugin-search-dir=. .
